
html, body {
	color: white;
    margin: 0;
	background-color: #33C3FF;
}

h1 { 
color: white;
   }

a {
   color: white;
   }

button {
    background-color:#FF9333 ;
    border: rgb(235, 135, 48);
    color:white;
    text-align: center;
    text-decoration: none;
    display: ruby-text-container;
    font-size: 30px;
	
}

titel {
	background-color: #33C3FF;
    position: relative;
    color: black; 
    padding-top: 4%; 

}
div {
	background-color: #33C3FF;
	}
	
container{
	background-color: #33C3FF;
	border: 15px solid #B22222;
	border-radius: 10px;

}
h2{
    border: 3px solid white;
    border-radius: 12px;
}
form{
	background-color: #33C3FF;
	}
td, th{
	text-align: center;
}



title {
	background-color: #33C3FF;
    position: relative;
    width: 10%;
    height: 10%;
    left: 80%;  
}

#keuze {

    position: relative;
    color:black; 
    padding-bottom: 5%;   
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #33C3FF;
  text-align: center;
}

.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
	
}

.fixed_header tbody{
  width: 100%;
  overflow: auto;
  height: 450px;
}

.fixed_header thead tr {
   text-align: center;
}



.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: center;
}

.button2 {border-radius: 30%;
    border: none;
    color: white;
	size: 10%;
    text-align: center;
    text-decoration: none;
    font-size: 9px;
	width: 10%;
}



.btn-static {
  background-color: white;
  border: 2px solid black;
  cursor: default;
  
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}
.noHover{
    pointer-events: none;
}
