
html, body {
	color: white;
    margin: 0;
	background-color: #3AA4E9;
}

h1 { 
color: white;
   }

a {
   color: white;
   }

button {
    background-color:#f4a142 ;
    border: rgb(235, 135, 48);
    color:white;
    text-align: center;
    text-decoration: none;
    display: ruby-text-container;
    font-size: 30px;
    margin-left: 23%;   
}

titel {
	background-color: #3AA4E9;
    position: relative;
    color: black; 
    padding-top: 4%; 

}
div {
	background-color: #3AA4E9;
	}
	
container{
	background-color: #3AA4E9;
	border: 3px solid white;
    border-radius: 12px;
}
form{
	background-color: #3AA4E9;
	}

title {
	background-color: #3AA4E9;
    position: relative;
    width: 10%;
    height: 10%;
    left: 80%; 

   
 

    
}

#keuze {

    position: relative;
    color:black; 
    padding-bottom: 5%;   
}